body{
background-image: url("imaages/guerrillabuzz-crypto-pr-MpL4w1vb798-unsplash.jpg");
background-repeat: no-repeat;
background-size: 1365px 635px;

}

.navigation{
    background-color: gray;
    margin:auto;
    margin-top: 0px;
}

 .brand{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2rem;
}
.navBar{
    display:inline;
    padding: 1rem 2rem;
}

